@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body{
    background: #EFF0F3;
}
/*--------------nav-----*/
header{
    height: 86px;
    display: flex;
    justify-content: space-between;
    background: #EFF0F3;
}
.name{
    padding: 26px 15px 0 95px;
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.name span{
    color:  #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.navigation-mane{
    padding: 31.5px 29.5px;
}
nav a{
    color:#2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.one {
    width: 17px;
    height: 17px;
}
.too{
    width: 24px;
    height: 24px;
}
.coffee{
    width: 213px;
    height: 24px;
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background:#6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.text{
    max-width: 500px;
}
.text h1{
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.text p{
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}
.subscribe{
    display: flex;
}
.subscribe input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    color:  #C0C0C0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subscribe button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background:  #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}
.image{
    display: flex;
    width: 470px;
    padding: 12.874px 18.074px 10.757px 17.649px;
    justify-content: center;
    align-items: center;
}
/*---------Category----*/
.category{
    height: 100%;
    padding: 80px;
    background: #f5f5f5;
}
.top-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.top-category a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.cards{
    display: flex;
    gap: 37px;
    border: 8px;
}
.card{
    width: 220px;
    height: 280px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
div img{
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
/*-----------Featured Article-----*/
.featured{
    padding: 80px;
}
.featured-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.featured-category a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.Fundamental{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px
}
.Fundamental-card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}
.Fundamental-card h3{
    font-size: 18px;
    margin-bottom: 15px;
}
.meta{
    display: flex;
    gap:15px;
    font-size: 14px;
    color: gray;
}
