@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body{
    background: #FFFFFE;
}
/*----------------------header------------*/
header{
    height: 15vh;
    background: #EFF0F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 95px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.logo{
    padding: 26px 15px 95px 95px;
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo span{
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 31.5px 29.5px;
    text-decoration: none;
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-transform: capitalize;
}
.coffee{
    padding: 10px 17px;
    margin: 22px 20px 95px 50px;
    gap: 10px;
    border-radius: 4px;
    background:#6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/*------------------------main---------------------*/
.main{
    margin: 0 auto;
    padding: 271px 95px;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background: #EFF0F3;
}
.main-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 664px;
    max-width: 500px;
}
.main-left h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left:4px solid black;
    padding-left: 15px;
}
.subscribe{
    display: flex;
    gap:30px 20px;
}
.subscribe input{
    padding: 21px 200px 21px 25px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 8px;
    background: #FFFFFE;
    color:#C0C0C0;
    font-size: 20px;
    font-weight: 400;
}
.subscribe button{
    border: none;
    cursor: pointer;
    height: 67px;
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
}
.main-right{
    flex: 1;
    display: flex;
    justify-content: center;
}
.main-right img{
    max-width: 100%;
    height: auto;
    width: 470px;
    padding: 12.874px 18.074px 10.757px 17.649px;
}
/*---------Category----*/
.category{
    height: 100%;
    padding: 80px;
    background: #f5f5f5;
}
.top-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.top-category a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.cards{
    display: flex;
    gap: 37px;
    border: 8px;
}
.card{
    width: 220px;
    height: 280px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
div img{
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
/*-----------Featured Article-----*/
.featured{
    padding: 80px;
}
.featured-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.featured-category a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.Fundamental{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px
}
.Fundamental-card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}
.Fundamental-card h3{
    font-size: 18px;
    margin-bottom: 15px;
}
.meta{
    display: flex;
    gap:15px;
    font-size: 14px;
    color: gray;
}
button{
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background:  #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/*-----------subscribe section--------------*/
.subscribe-section{
    padding: 100px 80px;
    text-align: center;
    background: #EFF0F3;
}
.subscribe-box img{
    width: 60px;
    margin-bottom: 20px;
}
.subscribe-box h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.subscribe-box p{
    color: gray;
    margin-bottom: 30px;
}
.subscribe-form{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.subscribe-form input{
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.subscribe-form button{
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
/*----------------------footer----------------*/
.footer{
    display: flex;
    justify-content: space-between;
    padding: 70px 120px 95px;
    background: #E4E5E9;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    margin-bottom: 50px;
}
.footer-col h3 {
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-col h3 span{
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-col p{
    color: #2B2C34;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.footer-col h4{
    margin-bottom: 20px;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer-bottom{
    color: #2B2C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top: 1px solid #C0C0C0;;
    padding-top: 20px;
}
