@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
header{
    height: 86px;
    display: flex;
    justify-content: space-between;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.logo{
    padding: 26px 15px 95px 95px;
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo span{
    padding: 44px 0 15px 0;
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 31.5px 29.5px;
    margin: px;
    text-decoration: none;
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-transform: capitalize;
}
.coffee{
    padding: 10px 17px;
    margin: 22px 20px 95px 50px;
    gap: 10px;
    border-radius: 4px;
    background:#6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.main-text{
    height: 345px
    width: 664px;
    max-width: 500px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}
.main-text h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.main-text p{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left:4px solid black;
    padding-left: 15px;
}
.subscribe{
    display: flex;
}
.subscribe input{
    padding: 21px 200px 21px 25px;
    gap: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 8px;
    background: #FFFFFE;
    color:#C0C0C0;
    font-size: 20px;
    font-weight: 400;
}
.subscribe button{
    border: none;
    cursor: pointer;
    height: 67px;
    padding: 20px 23px 19px 23px;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;



}
.main-image{
    width: 400px;

}
/*---------Category----*/
.category{
    height: 100%;
    padding: 80px;
    background: #f5f5f5;
}
.top-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.top-category a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.cards{
    display: flex;
    gap: 37px;
    border: 8px;
}
.card{
    width: 220px;
    height: 280px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
div img{
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
/*-----------Featured Article-----*/
.featured{
    padding: 80px;
}
.featured-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.featured-category a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.Fundamental{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px
}
.Fundamental-card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}
.Fundamental-card h3{
    font-size: 18px;
    margin-bottom: 15px;
}
.meta{
    display: flex;
    gap:15px;
    font-size: 14px;
    color: gray;
}
